<footer class="bg-dark text-center text-white ml-auto" style="margin-top: 5%;">
    <p class="text-center text-white mb-0 py-2">Created in 2021 by: <a
            class="text-center text-white text-decoration-none" href="#"> Will de Azevedo </a></p>
</footer>